<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AppConnectionString" value="Data Source=.;Integrated Security=;Initial Catalog=DataManager20140725;user=sa;pwd=111111;" />
    <add key="DocPageCount" value="10"/>
    <add key="DisplayDocAttrCount" value="4"/>
    <add key="InventoryDocAttrCount" value="3"/>
    <add key="ExperimentID" value="91"/>
    <add key="ExpAttrName" value="编号"/>
    <add key="ExpAttrValue" value="试验名称"/>
    <add key="AutoKeyWords" value="所属试验"/>
    <add key="ValueNA" value="系统未指定值"/>
    <add key="BOM_GenerateTime" value="12"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="404.aspx"></customErrors>
    <httpRuntime executionTimeout="1200"/>
  </system.web>
</configuration>
